// Identidade da Ong Fenix São carlos:
// --- 

// Laranja avermelhado: #FF5722
// Laranja: #EA7743
// Laranja amarelado #FFA85C
// Marrom escuro:  #140C04
// Branco ovo: #FFFDF6



// Variáveis locais 
$font-stack: 'Arial', sans-serif;
$primary-color: #4CAF50; // Verde principal
$secondary-color: #f2f2f2 !default; // Cor clara para fundo/tabelas
$border-color: #ddd;
$danger-color: #e53935; // Vermelho usado em ações destrutivas (excluir)

$padding: 15px;
$margin: 10px;

@debug $secondary-color;